@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes
$fuente_principal: 'Rubik', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$principal: #0D50A5;
$negro: #000000;
$blanco: #FFFFFF;

// Colores tec
$python: #B4942C;
$oracle: #C74634;
$html: #F08B6B;
$php: #617EB4;
$sass: #F2A3D2;
$js: #F0DB4F;


$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$medio: 500;
$semibold: 600;
$bold: 700;
$black: 900